.main {
  margin-top: 120px;
}

.food-menu-main-container {
  padding: 0 46px;
}

.fast-food-name {
  margin-bottom: 24px;
}

.fast-food-name span {
  font-size: 32px;
  font-weight: 800;
}

.subheading {
  font-size: 14px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

@media (max-width: 2000px) {
  .menu-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1600px) {
  .menu-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  .menu-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .menu-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .menu-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .menu-grid {
    grid-template-columns: 1fr;
  }
}

.food-menu-container {
  width: 200px;
  background: #FAFAFA;
  padding: 20px 14px 12px 14px;
  margin-right: 16px;
  margin-bottom: 14px;
  
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3),
  0 2px 4px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
}

.restaurant-logo-container img {
  width: 32px;
  
  display: relative;
  top: 0;
  left: 0;
}

.food-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 180px;
  margin-bottom: 8px;
}

.food-image {
  max-width: 100%;
  max-height: 100%;
}

.food-name {
  height: 54px;
  font-size: 14px;
}

.horizontal-line {
  height: 0.6px;
  background: lightgray;
  margin: 4px 0;
}

.food-price {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.food-quantity-container {
  margin-bottom: 10px;
}

.menu-spacer {
  flex: 1;
}

.added-to-bag {
  color: rgb(6, 125, 98);
  font-size: 12px;

  display: flex;
  align-items: center;
  margin-bottom: 4px;

  opacity: 0;
}

.added-to-bag img {
  height: 14px;
  margin-right: 5px;
}

.add-to-my-bag-button {
  font-size: 12px;
  font-weight: 500;
  width: 100%;
  padding: 8px;
  border-radius: 50px;
}